{
    "env": {
        "browser": true,
        "es2017": true,
        "jquery": true,
    },

    "parserOptions": {
        "parser": "babel-eslint",
        "allowImportExportEverywhere": true,
        "extends": "eslint:recommended",
        "sourceType": "module",
        "globals": {
            "jquery": "readonly",
            "$": "readonly",
            "utils": "readonly"
        }
    },
    "rules": {
        // "no-undef": "warn",
        "semi": [
            "error", "always", { "omitLastInOneLineBlock": true }
        ]
    }
}