.btn {
    background-color: $cwhite;
    color: $cblack;
    border: 2px solid $cblack;
    padding: 10px 40px;
    margin: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    &.float {
        &:hover {
            box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
        }
    }
    // &:hover {
    //     background-color: $cblack;
    //     // color: $cwhite;
    // }
}

#container {
    text-align: center;
}